<!DOCTYPE html>
<%
meta = {
  title: '〓下層ページ〓',
  description: '〓下層ページのディスクリプション〓'
};
%>
<html>
<head>
<%- include('../_partial/_head', {meta:meta}); %>
<%- include('../_partial/assets/_common-css') %>
<%- include('../_partial/assets/_common-js') %>
</head>

<body>
<!-- site header -->
<%- include('../_partial/layout/_site-header') %>
<div class="text-xl my-5">下層ページ</div>
<%- include('../_partial/layout/_site-footer') %>
</body>
</html>